<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/hani/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>正簡日漢字對照</title>
  </head>
  <body
    class="text-slate-700 bg-slate-100 dark:text-slate-200 dark:bg-slate-900"
  >
    <main class="my-12 space-y-6 text-center sm:my-24 sm:space-y-12">
      <h1 class="text-4xl font-bold sm:text-6xl">正簡日漢字對照</h1>
      <table class="mx-auto">
        <thead class="text-2xl font-bold sm:text-4xl">
          <tr>
            <th
              class="py-3 pl-6 pr-3 border-b-2 border-slate-700 dark:border-slate-200 sm:py-6 sm:pl-12 sm:pr-6"
              lang="zh-Hans">陆简</th
            >
            <th
              class="py-3 pl-3 pr-3 border-b-2 border-slate-700 dark:border-slate-200 sm:py-6 sm:pl-6 sm:pr-6"
              lang="zh-Hant">臺正</th
            >
            <th
              class="py-3 pl-3 pr-6 border-b-2 border-slate-700 dark:border-slate-200 sm:py-6 sm:pl-6 sm:pr-12"
              lang="ja">日新</th
            >
          </tr>
        </thead>
        <tbody class="text-7xl sm:text-9xl">
          <template>
            <tr>
              <td
                class="py-6 pl-6 pr-3 border-b border-slate-400 sm:py-12 sm:pl-12 sm:pr-6"
                lang="zh-Hans"
              >
              </td>
              <td
                class="py-6 pl-3 pr-3 border-b border-slate-400 sm:py-12 sm:pl-6 sm:pr-6"
                lang="zh-Hant"
              >
              </td>
              <td
                class="py-6 pl-3 pr-6 border-b border-slate-400 sm:py-12 sm:pl-6 sm:pr-12"
                lang="ja-Jpan"
              >
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </main>
    <script>
      import { hani } from '../lib/hani'

      const template = document.querySelector('template')!
      const parent = template.parentNode!
      template.remove()

      for (const { simp, trad, shin } of hani.sort(() => Math.random() - 0.5)) {
        const tr = template.content.cloneNode(true) as HTMLTableRowElement
        tr.querySelector('[lang="zh-Hans"]')!.textContent = simp
        tr.querySelector('[lang="zh-Hant"]')!.textContent = trad
        tr.querySelector('[lang="ja-Jpan"]')!.textContent = shin
        parent.append(tr)
      }
    </script>
  </body>
</html>
