@import '@picocss/pico';

h1 {
  text-align: center;
  --font-size: 2rem;

  @media (min-width: 640px) {
    --font-size: 4rem;
  }
}

table {
  width: unset;
  margin: auto;
  text-align: center;
}

thead {
  --font-weight: bold;
  --font-size: 2rem;

  @media (min-width: 640px) {
    --font-size: 4rem;
  }
}

tbody {
  --font-size: 4rem;

  @media (min-width: 640px) {
    --font-size: 8rem;
  }
}

td {
  text-align: center;
}

:not(thead):not(tfoot) > * > td {
  --font-size: unset;
}
